@page
@model WEBFurniTOOLS.Pages.IndexModel
@{
    Layout = "_LayoutNovi";
}
@* <style>
	.home_banner_area{
		z-index: 1;
		background: url("https://projekatakaunt.blob.core.windows.net/images/home-banner.jpg") no-repeat scroll center center;
		background-size: cover; }
	.home_banner_area .banner_inner {
		width: 100%; }
	.home_banner_area .banner_inner .col-lg-8 {
		vertical-align: middle;
		align-self: center; }
    .home_banner_area .banner_inner .banner_content {
      text-align: left;
      color: #fff; }
	.home_banner_area .banner_inner .banner_content h2 {
        margin-top: 0px;
        font-size: 36px;
        font-weight: bold;
        font-family: "Heebo", sans-serif;
        line-height: 47px;
        margin-bottom: 20px;
        text-transform: uppercase; }
	.home_banner_area .banner_inner .banner_content p {
        color: #fff;
        font-family: "Roboto", sans-serif;
        margin-bottom: 35px;
        max-width: 555px; }
	.home_banner_area .banner_inner .banner_content .banner_map_img {
        text-align: right; }
	.home_banner_area .banner_inner .banner_content .banner_btn {
        margin-right: 0px; }
	.home_banner_area .home_right_box {
		background: rgba(255, 255, 255, 0.1);
		padding: 30px;
		display: flex;
		flex-wrap: wrap;
		margin-top: 210px;
		margin-bottom: 210px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 10px; }
    .home_banner_area .home_right_box .home_item {
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center;
      line-height: 150px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      transition: all 300ms linear 0s; }
	.home_banner_area .home_right_box .home_item i {
	font-size: 40px; }
	.home_banner_area .home_right_box .home_item i:before {
		font-size: 40px;
		color: #fff;
		margin-left: 0px; }
	.home_banner_area .home_right_box .home_item:nth-child(odd) {
	border-right: 1px solid rgba(255, 255, 255, 0.1); }
	.home_banner_area .home_right_box .home_item:nth-child(5) {
	border-bottom: 0px; }
	.home_banner_area .home_right_box .home_item:last-child {
	border-bottom: 0px; }
	.home_banner_area .home_right_box .home_item:hover {
	background: #faba00; }
</style>
<section class="home_banner_area">
	<div class="banner_inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="banner_content">
						<div style="">
							<h2 style="color: #ffc107">Privatnik ste? </h2><h4 style="color: #ffc107">Proizvodite nameštaj po narudžbini i po željenim dimenzijama kupaca?</h4>
							<br><p>Onda je ovo pravo mesto gde možete plasirati Vašu robu, 
								reklamirati se i dospeti do velikog broja potencijalnih kupaca. 
								Uz mesto za reklamiranje i postavljanje vasih proizvoda, 
								u paketu naših usluga dobijate i propratan softver na vašem 
								racunaru koji Vam sa lakoćom omogućava praćenje narudžbina, 
								formiranje radnih naloga kao i vođenje statistike.</p>									
						</div>							
					</div>
				</div>
				<div class="col-lg-2">
					<div class="banner_content">
						<h2></h2>
					</div>
				</div>						
				<div class="col-lg-5">
					<div class="banner_content">
						<div>
							<h2 style="color: #ffc107">Kupac ste? </h2><h4 style="color: #ffc107">Želite da kupite gotov nameštaj ili naručite nameštaj po meri?</h4>
							<br><p>Onda je ovo pravo mesto gde možete pretraživati robu, 
								naručivati nameštaj po meri, imati pregled prethodnih narudžbina 
								i dobijati obaveštenja o statusu naručenog proizvoda.</p>									
						</div>							
					</div>
				</div>					
			</div>
		</div>
	</div>
</section> *@