<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" href="img/samologo.png" type="image/png">
        <title style="color:#ffc107;">FurniTOOLS</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
    <style>
            .masthead {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../assets/img/bg-masthead.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        }
    </style>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/samologo.png" alt="" width="60" height="50">FurniTOOLS</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Meni<i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">O nama</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about2">O sajtu</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Nalog</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">FurniTOOLS</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Besplatan sajt za oglašavanje i kupovinu.</h2>
                    <a class="btn btn-primary js-scroll-trigger" href="#about">Počnimo</a>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">Dobrodošli u FurniTOOLS</h2>
                        <p class="text-white-50">Vaš prvi izvor za sve stvari: nameštaj, stolice, stolovi... Mi smo posvećeni tome da vam pružimo najbolje usluge naših proizvoda sa fokusom na tri karakteristike: pouzdanost, korisnička usluga i jedinstvenost.                       </p>
                    </div>
                </div>
                <img class="img-fluid" src="img/banner/home-banner.jpg" alt="" />
                <br>
                <br>
                <br>
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="about2">
            <div class="container">
                <!-- Featured Project Row-->
            <div>
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0" id="about2">
                    <div class="col-lg-6"><img class="img-fluid" src="img/about-1.jpg" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Želite da kupite gotov nameštaj ili naručite nameštaj po meri?</h4>
                                    <p class="mb-0 text-white-50">Onda je ovo pravo mesto gde možete pretraživati robu, naručivati nameštaj po meri, imati pregled prethodnih narudžbina i dobijati obaveštenja o statusu naručenog proizvoda.</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="img/projects/projects-3.jpg" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Proizvodite nameštaj po narudžbini i po želji kupaca?</h4>
                                    <p class="mb-0 text-white-50">Onda je ovo pravo mesto gde možete plasirati Vašu robu, reklamirati se i dospeti do velikog broja potencijalnih kupaca.</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
@*  Uz mesto za reklamiranje i postavljanje vasih proizvoda, u paketu naših usluga dobijate i propratan softver na vašem racunaru koji Vam sa lakoćom omogućava praćenje narudžbina, formiranje radnih naloga kao i vođenje statistike. *@
            </div>
        </section>
        <section id="projects" style="align-items: center;justify-items: center;text-align: center;">
            <br>
            <div>
            <a href="../LogIn" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Već imate nalog - PRIJAVITE SE </a>
            </div>
            <br>
            <br>
            <div>
            <a href="../Signin" class="btn btn-secondary btn-lg active"  role="button" aria-pressed="true">Nemate nalog - REGISTRUJTE SE</a>
            </div>
            <br>
            <br>
                    @RenderBody()
            <br>
        </section>
        <!-- Contact-->
        <section class="contact-section bg-black" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Adresa</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">Aleksandra Medvedeva bb, Niš</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">David Bosnić, <a href="#!">davidbosnic98@gmail.com</a></div>
                                
                                <div class="small text-black-50">Nikola Begović, <a href="#!">begota98@gmail.com</a></div>                                                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Telefon</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">333 - 555</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://twitter.com/furnitools"><i class="fab fa-twitter"></i></a><a class="mx-2" href="https://www.facebook.com/affiliateonlineshopping"><i class="fab fa-facebook-f"></i></a><a class="mx-2" href="https://www.youtube.com"><i class="fab fa-github fa-youtube"></i></a>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © 2B Group 2021</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
