@page
@model WEBFurniTOOLS.Pages.AdministratorRP.DodajKorisnikeModel
@section ImeAdmina{
    @Model.getUserString("emailAdmina")
}
@{
    Layout="_LayoutTest";
}
<style>
.divce
{
    padding-bottom: 26px;
    padding-right: 10px;
}
.divce2{
        padding-bottom: 20px;
}
</style>
<form  method="POST">
    
    @* <input type="hidden" asp-for="noviKupac.ID">
    <div style="text-align: center;" asp-validation-summary="All"></div>
    <div  style="text-align: center;">@Model.ErrorMessage</div> *@
    @* <div style="display: flex;">
        <div><div class="divce">Ime :</div><div class="divce">Prezime :</div><div class="divce">Email :</div><div class="divce">Šifra :</div><div class="divce">Broj telefona :</div><div class="divce">Adresa :</div><div class="divce">Grad :</div></div>
        <div>
            <div class="divce2"><input type="text" asp-for="noviKupac.Ime"></div>
            <div class="divce2"><input type="text" asp-for="noviKupac.Prezime"></div>    
            <div class="divce2"><input type="mail" asp-for="noviKupac.Email"></div>
            <div class="divce2"><input type="password" asp-for="noviKupac.Sifra"></div>    
            <div class="divce2"><input type="tel" asp-for="noviKupac.BrojTelefona"></div>    
            <div class="divce2"><input type="text" asp-for="noviKupac.Adresa"></div>
            <div class="divce2"><input type="text" asp-for="noviKupac.Grad"></div>
        </div> 
   </div>  *@

    <div class="container">
            <h1>Profil novog kupca</h1>
     
     <div></div> 
     @* <input type="hidden" asp-for="noviKupac.ID"> *@
    <div  asp-validation-summary="All"></div>
    <div >@Model.ErrorMessage</div>


    <div style="margin-top: 10px" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic1">Ime : </span>
        </div>
        <input type="text" class="form-control" asp-for="noviKupac.Ime"  aria-describedby="basic1">
    </div>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic2">Prezime : </span>
        </div>
        <input type="text" class="form-control" asp-for="noviKupac.Prezime"  aria-describedby="basic2">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic3">Email : </span>
        </div>
        <input type="email" class="form-control" asp-for="noviKupac.Email"  aria-describedby="basic3">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic33">Šifra : </span>
        </div>
        <input type="password" class="form-control" asp-for="noviKupac.Sifra"  aria-describedby="basic33">
    </div>

    @* <input style="float: right;"  type="hidden" asp-for="kupacZaIzmenu.Sifra"> *@

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic4">Broj telefona :</span>
        </div>
        <input type="text" class="form-control" asp-for="noviKupac.BrojTelefona"  aria-describedby="basic4" >
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic5">Adresa : </span>
        </div>
        <input type="text" class="form-control" asp-for="noviKupac.Adresa"  aria-describedby="basic5" >
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic6">Grad : </span>
        </div>
        <input type="text" class="form-control" asp-for="noviKupac.Grad" aria-describedby="basic6">
    </div>

  <input style="float: right; margin-top: 10px;" type="submit" class="btn btn-warning" value="Dodaj kupca" asp-page-handler="Dodaj">

    </div>

</form>