@page
@model WEBFurniTOOLS.Pages.AdministratorRP.DodajProdavcaModel
@section ImeAdmina{
    @Model.getUserString("emailAdmina")
}
@{
    Layout="_LayoutTest";
}
<style>
.divce
{
    padding-bottom: 26px;
    padding-right: 10px;
}
.divce2{
        padding-bottom: 20px;
}
</style>
<form  method="POST">
    
   

    <div class="container">
            <h1>Profil novog prodavca</h1>
     
     <div></div> 
     
    <div  asp-validation-summary="All"></div>
    <div >@Model.ErrorMessage</div>


    <div style="margin-top: 10px" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic1">Ime : </span>
        </div>
        <input type="text" class="form-control" asp-for="noviProdavac.Ime"  aria-describedby="basic1">
    </div>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic2">Prezime : </span>
        </div>
        <input type="text" class="form-control" asp-for="noviProdavac.Prezime"  aria-describedby="basic2">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic3">Email : </span>
        </div>
        <input type="email" class="form-control" asp-for="noviProdavac.Email"  aria-describedby="basic3">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic33">Šifra : </span>
        </div>
        <input type="password" class="form-control" asp-for="noviProdavac.Sifra"  aria-describedby="basic33">
    </div>

    @* <input style="float: right;"  type="hidden" asp-for="kupacZaIzmenu.Sifra"> *@

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic4">Broj telefona :</span>
        </div>
        <input type="text" class="form-control" asp-for="noviProdavac.BrojTelefona"  aria-describedby="basic4" >
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic5">Adresa : </span>
        </div>
        <input type="text" class="form-control" asp-for="noviProdavac.Adresa"  aria-describedby="basic5" >
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic6">Grad : </span>
        </div>
        <input type="text" class="form-control" asp-for="noviProdavac.Grad" aria-describedby="basic6">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic7">Firma : </span>
        </div>
        <input type="text" class="form-control" asp-for="noviProdavac.Firma" aria-describedby="basic7">
    </div>

  <input style="float: right; margin-top: 10px;" type="submit" class="btn btn-warning" value="Dodaj prodavca" asp-page-handler="Dodaj">

    </div>

</form>